Importing the modules

In [189]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [190]:
os.getcwd()

'd:\\Repeat_ML analyses\\Notebooks\\Key_notebooks'

Read in the epidemiologcal dataset, Data exploration of the epidemiological dataset

In [191]:
Epi_data = pd.read_csv("../../ML_datasets/UG_ML_raw_data.csv")
Epi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ACCESSION NUMBER  188 non-null    object
 1   CD4 CELL COUNT    36 non-null     float64
 2   HIV STATUS        156 non-null    object
 3   AGE               157 non-null    float64
 4   SEX               157 non-null    object
 5   STM               170 non-null    object
 6   INH               170 non-null    object
 7   RIF               170 non-null    object
 8   EMB               170 non-null    object
 9   PZA               64 non-null     object
 10  AMK               0 non-null      float64
 11  KAN               33 non-null     object
 12  LEV               0 non-null      float64
 13  MOX               0 non-null      float64
 14  LIN               0 non-null      float64
 15  BED               0 non-null      float64
 16  CAP               33 non-null     object
 17  PAS               33 non-null     object
 18  OFL               40 non-null     object
 19  ETH               33 non-null     object
 20  FLQ               0 non-null      float64
 21  PID               164 non-null    object
 22  SAMPLE TYPE       18 non-null     object
 23  EVER ARV          12 non-null     object
 24  CURRENT ARV       12 non-null     object
 25  PREV TBRX         58 non-null     object
dtypes: float64(8), object(18)
memory usage: 38.3+ KB

Identify columns with greater than 60% missingness of information

In [192]:
threshold = 0.6  # Set the threshold for missing values

# Calculate the percentage of missing values in each column
missing_percent = Epi_data.isnull().mean()

# Identify columns with missing values exceeding 80%
columns_to_exclude = missing_percent[missing_percent > threshold].index
print("Columns excluded with more than 60% missing values:")
print(columns_to_exclude)

Columns excluded with more than 60% missing values:
Index(['CD4 CELL COUNT', 'PZA', 'AMK', 'KAN', 'LEV', 'MOX', 'LIN', 'BED',
       'CAP', 'PAS', 'OFL', 'ETH', 'FLQ', 'SAMPLE TYPE', 'EVER ARV',
       'CURRENT ARV', 'PREV TBRX'],
      dtype='object')

Exclude the columns with >60% missingness and this left us with only four drugs: Rifampicin, Isoniazid, Ethambutol and Streptomycin

In [193]:
Epi_data_clean = Epi_data.drop(columns=columns_to_exclude)
# Print the remaining columns
print("Remaining columns:")
Epi_data_clean.columns

Remaining columns:

Index(['ACCESSION NUMBER', 'HIV STATUS', 'AGE', 'SEX', 'STM', 'INH', 'RIF',
       'EMB', 'PID'],
      dtype='object')

In [194]:
Epi_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ACCESSION NUMBER  188 non-null    object
 1   HIV STATUS        156 non-null    object
 2   AGE               157 non-null    float64
 3   SEX               157 non-null    object
 4   STM               170 non-null    object
 5   INH               170 non-null    object
 6   RIF               170 non-null    object
 7   EMB               170 non-null    object
 8   PID               164 non-null    object
dtypes: float64(1), object(8)
memory usage: 13.3+ KB

Viewing the rows/Samples with missing information for the RIF Resistance phenotype

In [195]:
missing_age_rows = Epi_data_clean[Epi_data_clean['RIF'].isnull()]

# Display the subset of rows with missing 'Age' information
print(missing_age_rows)

    ACCESSION NUMBER HIV STATUS   AGE  SEX  STM  INH  RIF  EMB         PID
21         ERR040113          P  36.0    F  NaN  NaN  NaN  NaN         NaN
24         ERR040116          P  36.0    F  NaN  NaN  NaN  NaN         NaN
25         ERR040117          P  36.0    F  NaN  NaN  NaN  NaN         NaN
143       SRR7535037        NaN   NaN  NaN  NaN  NaN  NaN  NaN         NaN
149       SRR7535043        NaN   NaN  NaN  NaN  NaN  NaN  NaN         NaN
151       SRR7535046        NaN   NaN  NaN  NaN  NaN  NaN  NaN  91545-1-03
159       SRR7535058          P  32.0    M  NaN  NaN  NaN  NaN         NaN
162       SRR7535061          P  48.0    F  NaN  NaN  NaN  NaN         NaN
163       SRR7535062          P  32.0    M  NaN  NaN  NaN  NaN         NaN
164       SRR7535063          P  30.0    F  NaN  NaN  NaN  NaN         NaN
166       SRR7535065        NaN   NaN  NaN  NaN  NaN  NaN  NaN  91089-1-03
169       SRR7535068        NaN   NaN  NaN  NaN  NaN  NaN  NaN         NaN
170       SRR7535069        NaN   NaN  NaN  NaN  NaN  NaN  NaN         NaN
175       SRR7535076        NaN   NaN  NaN  NaN  NaN  NaN  NaN      DS 682
177       SRR7535083          P  28.0    M  NaN  NaN  NaN  NaN         NaN
179       SRR7535085        NaN   NaN  NaN  NaN  NaN  NaN  NaN     ET14013
182       SRR7535089          P  23.0    F  NaN  NaN  NaN  NaN         NaN
185       SRR7535092          P  35.0    M  NaN  NaN  NaN  NaN         NaN

In [196]:
# Drop rows with missing values in specific columns (e.g., 'column1' and 'column2')
#Epi_data_clean = Epi_data.dropna(subset=['RIF', 'STM', 'INH', 'EMB'])

In [197]:
#RIF_data_clean = Epi_data.dropna(subset=['RIF'])

1. Converting the HIV status, SEX, RIF, STM, EMB and STM to categorical. NB cant be converted to interger with the Nans

2. Replacing the S:0 , R:1 and M:1 and F:0 in the drugs and sex columns

In [198]:
Epi_data_clean.dtypes

ACCESSION NUMBER     object
HIV STATUS           object
AGE                 float64
SEX                  object
STM                  object
INH                  object
RIF                  object
EMB                  object
PID                  object
dtype: object

In [199]:
Epi_data_clean['SEX'] = Epi_data_clean['SEX'].replace({'F': 0, 'M': 1})
Epi_data_clean['HIV STATUS'] = Epi_data_clean['HIV STATUS'].replace({'NE': 0, 'P': 1})
Epi_data_clean['SEX']= Epi_data_clean['SEX'].astype('category')
Epi_data_clean['HIV STATUS']=Epi_data_clean['HIV STATUS'].astype('category')
Epi_data_clean['RIF'] = Epi_data_clean['RIF'].replace({'S': 0, 'R': 1})
Epi_data_clean['RIF']=Epi_data_clean['RIF'].astype('category')
Epi_data_clean['INH'] = Epi_data_clean['INH'].replace({'S': 0, 'R': 1})
Epi_data_clean['INH']=Epi_data_clean['INH'].astype('category')
Epi_data_clean['EMB'] = Epi_data_clean['EMB'].replace({'S': 0, 'R': 1})
Epi_data_clean['EMB']=Epi_data_clean['EMB'].astype('category')
Epi_data_clean['STM'] = Epi_data_clean['STM'].replace({'S': 0, 'R': 1})
Epi_data_clean['STM']=Epi_data_clean['STM'].astype('category')
# Converted the Age column to integer 
#Epi_data_clean['AGE']=Epi_data_clean['AGE'].astype(int)

Imputation of data to obtain a complete dataset for the numeric data like AGE using the strategy = mean and the categorical variables by the most frequent

In [200]:
all_col = Epi_data_clean.columns
cat_na = ['SEX', 'HIV STATUS','RIF', 'INH','STM','EMB']
num_na = ['AGE']
#data1 = df.copy()

In [201]:
from sklearn.impute import SimpleImputer
# Initialize imputer
imp = SimpleImputer(strategy='mean')
# Apply the imputer on the selected column
Epi_data_clean[num_na] = imp.fit_transform(Epi_data_clean[num_na].values.reshape(-1, 1) )

Epi_data_clean['AGE'].isna().sum()

0

In [202]:
# Select columns to impute
columns_to_impute = ['SEX', 'HIV STATUS', 'RIF', 'INH', 'STM', 'EMB']

# Initialize imputer
imputer = SimpleImputer(strategy='most_frequent')  

# Apply imputation to selected columns
Epi_data_clean[columns_to_impute] = imputer.fit_transform(Epi_data_clean[columns_to_impute])

In [203]:

Epi_data_clean['RIF'].isna().sum()

0

In [204]:
Epi_data_clean.head()

  ACCESSION NUMBER HIV STATUS   AGE SEX  STM  INH  RIF  EMB     PID
0        ERR038736          0  30.0   0  0.0  1.0  1.0  1.0  A70555
1        ERR038737          0  23.0   1  0.0  1.0  1.0  0.0  A70582
2        ERR038738          0  20.0   1  1.0  1.0  1.0  1.0  A70596
3        ERR038739          0  27.0   1  1.0  1.0  1.0  1.0  A70376
4        ERR038740          0  48.0   0  0.0  1.0  1.0  1.0  A70088

Convert the age column to interger from float

In [205]:
from math import floor

# Convert 'age' column to integer without rounding
Epi_data_clean['AGE'] = Epi_data_clean['AGE'].apply(floor).astype(int)
Epi_data_clean.head()

  ACCESSION NUMBER HIV STATUS  AGE SEX  STM  INH  RIF  EMB     PID
0        ERR038736          0   30   0  0.0  1.0  1.0  1.0  A70555
1        ERR038737          0   23   1  0.0  1.0  1.0  0.0  A70582
2        ERR038738          0   20   1  1.0  1.0  1.0  1.0  A70596
3        ERR038739          0   27   1  1.0  1.0  1.0  1.0  A70376
4        ERR038740          0   48   0  0.0  1.0  1.0  1.0  A70088

Removing the decimal places from the categorical columns by converting them to interger then categorical

In [206]:
Epi_data_clean['RIF'] = Epi_data_clean['RIF'].astype(int)
Epi_data_clean['RIF'] = Epi_data_clean['RIF'].astype('category')
Epi_data_clean['INH'] = Epi_data_clean['INH'].astype(int)
Epi_data_clean['INH'] = Epi_data_clean['INH'].astype('category')
Epi_data_clean['EMB'] = Epi_data_clean['EMB'].astype(int)
Epi_data_clean['EMB'] = Epi_data_clean['EMB'].astype('category')
Epi_data_clean['STM'] = Epi_data_clean['STM'].astype(int)
Epi_data_clean['STM'] = Epi_data_clean['STM'].astype('category')
Epi_data_clean.head()

  ACCESSION NUMBER HIV STATUS  AGE SEX STM INH RIF EMB     PID
0        ERR038736          0   30   0   0   1   1   1  A70555
1        ERR038737          0   23   1   0   1   1   0  A70582
2        ERR038738          0   20   1   1   1   1   1  A70596
3        ERR038739          0   27   1   1   1   1   1  A70376
4        ERR038740          0   48   0   0   1   1   1  A70088

In [207]:
Epi_data_clean = Epi_data_clean.rename(columns={Epi_data_clean.columns[0]: 'Sample'})
Epi_data_clean.dtypes

Sample          object
HIV STATUS      object
AGE              int32
SEX             object
STM           category
INH           category
RIF           category
EMB           category
PID             object
dtype: object

Saving the complete epidemiological dataset

In [208]:
Epi_data_clean.to_csv("../../ML_datasets/UG_demographic_dataset_clean&complete.csv")

In [209]:
Epi_data_clean.shape

(188, 9)

Merging the genomic dataset (SNP matrix) and the epidemiological dataset

In [210]:
snp_matrix = pd.read_csv("../../ML_datasets/UG_Edited_Snp_matrix.csv")
snp_matrix.head()

,:Sample,POS_305,POS_371,POS_412,POS_493,POS_697,POS_845,POS_1150,POS_1228,POS_1353,...,POS_4409794,POS_4409954,POS_4410142,POS_4410178,POS_4410212,POS_4410386,POS_4410765,POS_4411016,POS_4411276,POS_4411400
0,ERR038736,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ERR038737,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ERR038738,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ERR038739,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ERR038740,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [211]:
snp_matrix.shape # There were 14821 variants obtained in the samples

(188, 14821)

Renaming the column from :Sample to Sample

In [212]:

snp_matrix = snp_matrix.rename(columns={snp_matrix.columns[0]: 'Sample'})

In [213]:
snp_matrix.tail(n=10)

,Sample,POS_305,POS_371,POS_412,POS_493,POS_697,POS_845,POS_1150,POS_1228,POS_1353,...,POS_4409794,POS_4409954,POS_4410142,POS_4410178,POS_4410212,POS_4410386,POS_4410765,POS_4411016,POS_4411276,POS_4411400
178,SRR7535084,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
179,SRR7535085,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180,SRR7535087,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
181,SRR7535088,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,SRR7535089,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,SRR7535090,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
184,SRR7535091,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
185,SRR7535092,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
186,SRR7535093,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
187,SRR7535094,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [214]:
# Converting columns to categorical
# Get a list of column names (excluding 'Sample')
columns_to_convert = [col for col in snp_matrix.columns if col != 'ACCESSION NUMBER']

# Convert selected columns to categorical
for col in columns_to_convert:
    snp_matrix[col] = snp_matrix[col].astype('category')

In [215]:
snp_matrix.dtypes

Sample         category
POS_305        category
POS_371        category
POS_412        category
POS_493        category
                 ...
POS_4410386    category
POS_4410765    category
POS_4411016    category
POS_4411276    category
POS_4411400    category
Length: 14821, dtype: object

Merging the dataset having epidemiological variables with the SNP matrix dataset

In [216]:

merged_data = pd.merge(Epi_data_clean, snp_matrix, on='Sample', how='inner')

In [217]:
merged_data.dtypes

Sample           object
HIV STATUS       object
AGE               int32
SEX              object
STM            category
                 ...
POS_4410386    category
POS_4410765    category
POS_4411016    category
POS_4411276    category
POS_4411400    category
Length: 14829, dtype: object

In [218]:
# Converting columns to catergorical
columns_to_convert = ['SEX', 'HIV STATUS', 'RIF', 'INH', 'EMB', 'STM']

merged_data[columns_to_convert] = merged_data[columns_to_convert].astype('category')

In [219]:
merged_data.head()

,Sample,HIV STATUS,AGE,SEX,STM,INH,RIF,EMB,PID,POS_305,...,POS_4409794,POS_4409954,POS_4410142,POS_4410178,POS_4410212,POS_4410386,POS_4410765,POS_4411016,POS_4411276,POS_4411400
0,ERR038736,0,30,0,0,1,1,1,A70555,0,...,0,0,0,0,0,0,0,0,0,0
1,ERR038737,0,23,1,0,1,1,0,A70582,0,...,0,0,0,0,0,0,0,0,0,0
2,ERR038738,0,20,1,1,1,1,1,A70596,0,...,0,0,0,0,0,0,0,0,0,0
3,ERR038739,0,27,1,1,1,1,1,A70376,0,...,0,0,0,0,0,0,0,0,0,0
4,ERR038740,0,48,0,0,1,1,1,A70088,0,...,0,0,0,0,0,0,0,0,0,0

In [220]:
merged_data.shape

(188, 14829)

Find samples in snp_matrix dataframe  that are not in Epi_data_clean dataframe and vice verser such that we dont miss an samples during the merging.

In [221]:
# Find samples in DataFrame A that are not in DataFrame B
samples_only_in_snp_matrix = snp_matrix[~snp_matrix['Sample'].isin(Epi_data_clean['Sample'])]['Sample']
samples_only_in_snp_matrix.head()

Series([], Name: Sample, dtype: category
Categories (188, object): ['ERR038736', 'ERR038737', 'ERR038738', 'ERR038739', ..., 'SRR7535091', 'SRR7535092', 'SRR7535093', 'SRR7535094'])

In [222]:
samples_only_in_Epi_data = Epi_data_clean[~Epi_data_clean['Sample'].isin(snp_matrix['Sample'])]['Sample']
samples_only_in_Epi_data.head()

Series([], Name: Sample, dtype: object)

In [225]:
merged_data.to_csv("../../ML_datasets/ML_UG_dataset.csv")